* {
    margin: 0;
    box-sizing: border-box;
}

.container  {
    width: 100vw;
    height: min(100vh);
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
}

.header {
    background-color: orange;
    grid-column: 2/3;
    grid-row: 1/2;
}

.sidebar {
    background-color: blue;
    grid-column: 1/2;
    grid-row: 1/3;

}

.main-content {
    background-color: green;
}