* {
    margin: 0;
    box-sizing: border-box;
    --h2-font-size: 1.3em;
}

h2 {
    font-size: var(--h2-font-size);
}

.container  {
    width: 100vw;
    height: min(100vh);
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
}

.header {
    background-color: lightcoral;
    border: solid black 2px;
    grid-column: 2/3;
    grid-row: 1/2;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.search, .greeting {
    display: flex;
    align-items: center;
}

.search {
    gap: 15px;
    padding: 0px 0px 0px 50px;
}

#search_bar {
    background-color: lightgray;
    border-radius: 100px;
    border: gray solid 1px;
    height: 2em;
    width: 40%;
}

.sidebar {
    background-color: lightblue;
    border: solid black 2px;
    grid-column: 1/2;
    grid-row: 1/3;
}

.icon_header {
    height: var(--h2-font-size);
    width: var(--h2-font-size);

}

.menu {
    display: grid;
    gap: 10px;
    padding: 24px 0px 0px 0px;
}

.icon {
    height: 1em;
    width: 1em;
}

.dashbaord_header {
    grid-template-columns: 40px 1fr;
    padding: 20px 0px 0px 15px;
}

.sidebar li {
    padding: 10px 0px 0px 15px;
}

.sidebar li, .dashbaord_header {
    display: flex;
    gap: 10px;
}


.main-content {
    background-color: lightgreen;
    border: solid black 2px;
}