@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    box-sizing: border-box;
    --h2-font-size: 1.3em;
}

h2 {
    font-size: var(--h2-font-size);
}

.page-layout  {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    height: 100vh;
}

.header {
    grid-column: 2/3;
    grid-row: 1/2;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.search, .greeting {
    display: flex;
    align-items: center;
}

.greeting {
    display: grid;
    grid-auto-flow: column;
}

.greeting_area {
    display: flex;
    padding: 0px 0px 20px 80px;
}

#avatar_big {
    height: 4em;
    border: solid black 1px;
    border-radius: 100%;
}

#avatar_big:hover, .avatar:hover {
    transition: all;
    transition-duration: 75ms;
    border: solid black 3px;
}

#greeting_message {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0px 0px 0px 30px;
}

#action_items {
    padding: 0px 80px 0px 0px
}

.search {
    width: 100%;
    gap: 10px;
    padding: 10px 0px 0px 80px;
}

#search_bar {
    border-radius: 100px;
    height: 2em;
    width: 80%;
    text-indent: 15px;
}

.profile_center, #action_items {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    gap: 20px;
    align-items: center;
    padding: 0px 80px 0px 0px;
}

.profile_center {
    padding: 0px 80px 0px 0px;
}

.avatar {
    height: 3em;
    border: solid black 1px;
    border-radius: 100%;
}

.sidebar {
    grid-column: 1/2;
    grid-row: 1/3;
    width: clamp(160px, 100%, 240px);
}

.icon_header {
    height: var(--h2-font-size);
    width: var(--h2-font-size);

}

.menu {
    display: grid;
    padding: 24px 0px 0px 0px;
}

.icon {
    height: 1em;
    width: 1em;
}

.dashbaord_header {
    grid-template-columns: 40px 1fr;
    padding: 20px 0px 0px 15px;
    align-items: center;
}

.sidebar li {
    padding: 10px 0px 10px 15px;
}

.sidebar li, .dashbaord_header {
    display: flex;
    gap: 10px;
    align-items: center;
}


.main-content {
    padding-bottom: 20px;
}

.main-content-container {
    width: 100%;
    padding: 20px 20px 0px 20px;
}

.project-anouncement-divider {
    display: grid;
    width: 100%;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 15fr;
    gap: 20px;
}

.card-container { 
    display: grid;
    grid-column: 1/2;
    grid-row: 2/3;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 3fr);
    gap: 20px;
}

.project-header {
    grid-column: 1/2;
    grid-row: 1/2;
}

.anouncement-header {
    grid-column: 2/3;
    grid-row: 1/2;
}

.trending-header {
    display: flex;
    align-items: flex-end;
    padding-bottom: 20px;
}

.project-header, .anouncement-header {
    display: flex;
    align-items: flex-end;
}

.card {
    height: 200px;
    width: clamp(200px, 100%, 400px);
    border-radius: 0.5em;
}

.anouncement_trending_container {
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-template-rows:3fr 1fr 3fr;
} 


.anouncement-container{
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
}

.trending-container, .anouncement-container {
    display: grid;
    border-radius: 0.5rem;
}

.anouncement, .usernmae-subtitle-container {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: minmax(200px, 1fr);
    height: 100%;
}

.anouncement {
    margin: 0px 20px 0px 20px;
}

.anouncement-content, .trending-subtitle {
    font-size: 0.6em;
    grid-row: 2;
}

.anouncement-subheader, .trending-username {
    grid-row: 1;
    display: flex;
    align-items: flex-end;
}

.bottom-border {
    border-bottom: 1px black solid;
}

.trending-container {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    align-items: center;
}

.usernmae-subtitle-container {
    padding: 0px 0px 0px 10px;
}

.trending-card {
    padding: 0px 0px 0px 20px;
    display: flex;
    align-items: center;
    height: 100%;
}

.trending-avatar {
    height: 2em;
    border: 1px black solid;
    border-radius: 100%;
}